<div class="main-content">
	<div class="row profile-card">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="card card-user admin-add-technical">
				<div class="card-body">
					<div class="author">
						<img class="avatar border-gray" src="{{image}}" alt="...">
						<h5 class="title"><b>ID:</b> {{id}}</h5>
						<p class="" ><b>Nombre:</b> {{name}}</p>
					</div>

					<p class="text-center">
						<b>Role:</b> {{position}}
						<br>
						<br> <b>Descripción:</b> {{description}}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>