<app-admin-navbar></app-admin-navbar>
<ngx-loading [show]="loading"></ngx-loading>

<div>
	<mat-tab-group mat-align-tabs="center" animationDuration="0ms" style="margin: 2% 10% 0% 10%" dynamicHeight=false>
		<mat-tab label="Perfil">
			<app-admin-information></app-admin-information>
		</mat-tab>

		<mat-tab label="Caminatas">
		</mat-tab>

		<mat-tab label="Cuidadores">
			<app-admin-pet-cares></app-admin-pet-cares>
		</mat-tab>

		<mat-tab label="Reportes de Negocio">
			<app-admin-business-reports></app-admin-business-reports>
		</mat-tab>

		<mat-tab label="Reportes de Usuarios">
			<app-admin-user-reports></app-admin-user-reports>
		</mat-tab>
	</mat-tab-group>
</div>