<div class="main-content" style="margin: 2% 2% 2% 2%;">
	<div class="row profile-card" *ngFor="let petCare of petCares;">
		<div class="col-md-12">
			<div class="card card-user">
				<ngx-loading [show]="loading"></ngx-loading>
				<div class="card-body">
					<div class="author">
						<div class="row">
							<div class="text-center col-md-4" style="margin-top: 2%; margin-bottom: 5%;">
								<img class="avatar border-gray" width=250 height=250 src="{{ petCare.photo || image }}" alt="...">
							</div>
							
							<div class="col-md-8">
								<div class="row">
									<div class="col-md-6">
										<p class="" ><b>ID:</b> {{ petCare.id }}</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<p class="" ><b>Nombre:</b> {{ petCare.firstName }}</p>
									</div>

									<div class="col-md-6">
										<p class="" ><b>Apellido:</b> {{ petCare.lastName }}</p>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-6">
										<p class="" ><b>Universidad:</b> {{ petCare.university }}</p>
									</div>

									<div class="col-md-6">
										<p class="" ><b>Carné:</b> {{ petCare.userName }}</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<p class="" ><b>Correos:</b> {{ petCare.email }} <br>{{ petCare.email2 }}</p>
									</div>

									<div class="col-md-6">
										<p class="" ><b>Número de teléfono:</b> {{ petCare.mobile }}</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<p class="" ><b>Cantidad de paseos:</b> {{ petCare.trips }}</p>
									</div>
									
									<div class="col-md-6">
										<p class="" ><b>Nota de paseos:</b> {{ petCare.rating }}</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<p class="" ><b>Fecha de inscripción:</b> {{ petCare.dateCreated.split('T')[0] }}</p>
									</div>

									<div class="col-md-6">
										<p *ngIf="petCare.blocked" class="" ><b>Estado:</b><label class="blocked">Bloqueado</label></p>
										<p *ngIf="!petCare.blocked" class="" ><b>Estado:</b><label class="active">Activo</label></p>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-8 text-center">
										<button *ngIf="petCare.blocked" class="btn btn-primary" (click)="activePetCare(petCare)">Activar</button>
										<button *ngIf="!petCare.blocked"class="btn btn-danger" (click)="blockPetCare(petCare)">Bloquear</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>