<h2 class="text-center" style="margin-bottom: 5%; margin-top: 5%;">
	Mis Mascotas
</h2>

<div id="myModal" class="modal">

	<!-- Modal content -->
	<div class="modal-content">
		<span class="close" onclick="document.getElementById('myModal').style.display='none';">&times;</span>
		<p>Some text in the Modal..</p>
	</div>

</div>

<div class="row profile-card" *ngFor="let pet of pets; let i = index">
	<div class="col-md-12"></div>
	<div class="col-md-12">
		<div class="card card-user">
			<div class="card-body">
				<div class="author">

					<div class="row">
						<div class="col-md-2" *ngFor="let photo of pet.photos; let ind = index;">
							<div *ngIf="photo!=''" class="text-center">
								<img width="100" height="100" src="{{ photo }}" />
							</div>
						</div>
					</div>

					<div><label></label></div>
						
					<div class="row">
						<div class="col-md-6">
							<p class="" ><b>Nombre:</b> {{ pet.name }}</p>
						</div>
							
						<div class="col-md-6">
							<p class="" ><b>Raza:</b> {{ pet.race }}</p>
						</div>
					</div>
						
					<div class="row">
						<div class="col-md-6">
							<p class="" ><b>Edad:</b> {{ pet.age }}</p>
						</div>
							
						<div class="col-md-6">
							<p class="" ><b>Tamaño:</b> {{ pet.size }}</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<p class="" ><b>Paseos:</b> {{ pet.trips }}</p>
						</div>

						<div class="col-md-6">
							<p class="" ><b>Fecha de inscripcion:</b> {{ pet.dateCreated }}</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<p class="" ><b>Descripción:</b> {{ pet.description }}</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 text-center">
							<button class="btn btn-primary">Pedir Caminata</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<button id="myBtn" onclick="document.getElementById('myModal').style.display='block';">Open Modal</button>
